<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    
    <main>
        <section>
            <h2>Donthamoni Jhansi</h2>
            <p>Email: jhansi5885@gmail.com</p>
            <p>Roll Number: 208P1A6605</p>
            <p>Branch: CSE (AI & ML)</p>
            <p>Year: 4th</p>
            <p>Semester: II nd</p>
        </section>
        <section>
            <h2>Muthyapu Sudeepthi</h2>
            <p>Email: mchinnari015@gmail.com</p>
            <p>Roll Number: 208P1A6609</p>
            <p>Branch: CSE (AI & ML)</p>
            <p>Year: 4th</p>
            <p>Semester: II nd</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Pneumonia Detection App</p>
    </footer>
</body>
</html>
